
.main-container{
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
}

.main-container > .left-side{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.left-side > #coffee-background{
    height: 100%;
    width: 700px;

}

.left-side > #coffee-logo{
    height: 70px;
    top: 70px;
    z-index: 1;
    position: absolute;
    float: left;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;

}

.right-side > .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 30px;
}

.top{
    margin: 20px;
}

.account-creation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 25px 20px;
    background-color: white;

}
.account-creation > h3{
    margin: 20px;
}

.account-creation > .account-creation-form{
    display: flex;

}

.account-creation > .account-creation-form > #left-side > div{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: auto;

}

.account-creation > .account-creation-form > #right-side > div{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: auto;

}

.bottom{
    margin: 20px;
    padding: 25px;
    height: 100%;
}

.bottom > button{
    padding: 10px;
    color: white;
    background-color: #596D48;
}

body, html{
    background-color: black;
    height: 100%;
}

footer{
    color: black;
    position: absolute;
    bottom: 50px;
}

input{
    width: 300px;
}
